:root {
    --main-bg: hsl(0, 0%, 100%);
    --text-dark: hsl(233, 14%, 25%);
    --text-light: hsl(0, 0%, 100%);
    --hero-bg: hsl(232, 58%, 55%);
    --button-primary-bg:  hsl(180, 100%, 42%);
    --button-primary-text: hsl(233, 14%, 25%);
    --button-secondary-bg: transparent;
    --button-secondary-border: hsl(0, 0%, 100%);
    --button-secondary-text: hsl(0, 0%, 100%);
    --fullwidth-bg: hsl(320, 85%, 41%);



}

.blue {      
    background-color: hsl(275, 100%, 25%);
  }
  
.green {      
    background-color: hsl(119, 88%, 35%);
  }