:root {
    --background-color: hsl(0, 0%, 11%);
    --text-color: hsl(0, 0%, 100%);

}

.blue {      
    background-color: hsl(275, 100%, 25%);
  }
  
.green {      
    background-color: hsl(119, 88%, 35%);
  }