@use "../util" as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

// control font size with clamp, keeps font size from getting too big or too small (min, preferred, max)
h1 {
  font-size: 2.625rem;
  font-size: clamp(u.rem(40), 1.77rem + 3.63vw, u.rem(72));
}

h2 {
  font-size: u.rem(36);
  font-size: clamp(u.rem(36), 1.91rem + 1.45vw, u.rem(48));
}

h3 {
  font-size: u.rem(24);
  font-size: clamp(u.rem(24), 1.41rem + 0.91vw, u.rem(36));
}

p {
  margin-top: 0;
  font-size: u.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
