@use "../util" as u;

.features {



    &__wrapper {}

    &__item {}

    &__icon{

        width: auto;
        height: u.rem(48);
        margin-block-end: 10px;

    }

    &__title {

        margin-block-end: u.rem(10);
    }

    &__description {

        margin-block-end: 0;
    }
}