@use "../util" as u;

.hero {
  background-color: var(--header-bg);
  color: var(--text-light);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-block: 30px 60px;

    @include u.breakpoint(large) {
      flex-direction: row-reverse;
      padding-block: 40px 80px;
      gap: 10%;
    }
  }

  &__image {
    width: 59%;
    max-width: u.rem(483);

    @include u.breakpoint(large) {
      flex: 5;
    }
  }

  &__text {
    @include u.breakpoint(large) {
      flex: 6;
    }
  }

  // &__title {
  // }

  // &__content {
  // }

  &__button {
    &:first-of-type {
      margin-inline-end: 20px;
    }
  }
}
