@use "../util" as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
//   max-width: 1000px;
    width: min(100% - 40px, 1000px);
  margin-inline:  auto;
   

  @include u.breakpoint (large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: 40px;
  }

  &__main {
    background-color: hsl(240, 100%, 50%);
  }

  &__sidebar {
    background-color: #4b0082;
  }
}
