@use "../util" as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  width: min(100% - u.rem(40), 1000px);
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 100%, 50%);

    @include u.breakpoint(medium) {
      background-color: hsl(0, 53%, 58%);
    }

    @include u.breakpoint(large) {
      background-color: hsl(119, 53%, 58%);
    }
  }

  &__sidebar {
  
    @include u.breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__widget {

    background-color: hsl(275, 100%, 25%);
  }

}
